<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Time Tabling</title>
	    <link href='http://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
	    <link href="webapp/views/style.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="webapp/views/js/jquery.min.js"></script>
	    <script src="webapp/views/js/bootstrap.min.js"></script>
	    <script src="webapp/views/js/spin.js"></script>
	    <script src="webapp/views/js/jquery.sparkline.min.js"></script>
	    <script src="webapp/views/js/functions.js"></script>
	    <script src="webapp/views/js/jquery.Rut.js"></script>
	    <script src="webapp/views/js/jquery.Rut.min.js"></script>
		<script>
			function modificarUsuarios(){				
				var msje = '';
				$('#frmAddUser input').each(function(elem){ 
					if ($(this).val().length == 0){ 
						msje += 'falta el valor de: ' + $(this).attr('name')+"\n";
					} 
				})
				if(msje.length > 0){ 
					alert(msje); 
					return false;
				}
				var nombre		= $('#nombre').val();
				var apellidoPat = $('#apellidoPat').val();
				var apellidoMat = $('#apellidoMat').val();
				var rut			= $('#rut').val();
				var cargo	 	= $('#cargo').val();
				var	pass		= $('#pass').val();
				var activo   	= $('#activo').val();
			
				$.getJSON('modificarUsuarios.htm',{ 'nombre'   : nombre, 'apellidoPat'  : apellidoPat, 'apellidoMat': apellidoMat,
													'rut'      : rut,    'cargo'    	: cargo,       'pass'		: pass,
													'activo'   : activo })
				.fail(function(){alert("Ocurrio un error en el servidor");})
				.done(function(d){ 
					var template = d;
					if(template == true){
						alert("Se modifico el usuario correctamente"); 
						location.href="gestion.htm"; 
					}else{
						alert("El usuario no se encuentra registrado");
					}
				});
			}
			
		$(function(){
			$('#modificarUsuarios').bind('click', function(event, ui){ modificarUsuarios(); });
			$('#rut').Rut({
				 on_error: function(){ alert('Rut incorrecto'); },
				  
			});
		});
		</script>
    </head>
  	<body>
		<div id="header" class="col-md-12 text-center">
			<i class="fa fa-cube fa-2x"></i>
			<h4>Time Tabling</h4>
		</div>
		<div class="container">
			<div class="col-md-12">
				<div class="well">
					<div id="menu" class="col-md-12">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right">
										<li class="dropdown">
											<a href="logout.htm" role="button" aria-expanded="false">Cerrar Sesion</a>
										</li>                
									</ul>
								</div>
							</div>
						</nav>        
					</div>
					<div id="sidebar" class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading"><i class="fa fa-link"></i>  Menu Principal</div>
							<div class="panel-body panel-links">
								<a href="gestion.htm"><i class="fa fa-code"></i> Gestion de Usuarios</a>
								<a href="upArchivos.htm"><i class="fa fa-code"></i> Subir Archivos</a>
								<a href="ejecutar.htm"><i class="fa fa-code"></i> Ejecutar Algoritmo</a>
								<a href="reportes.htm"><i class="fa fa-code"></i> Ver Reportes</a>
								<a href="asignaciones.htm"><i class="fa fa-code"></i> Ver Asignaciones</a>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading"><i class="fa fa-font"></i> Integrantes</div>
							<div class="panel-body panel-text">
								<ul>
									<li>Antonio Lefimil</li>
									<li>Alvaro Faba</li>
									<li>Gonzalo Cifuentes</li>
									<li>Renzo Vilchez</li>
									<li>Christopher Elgueta</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="admincontent" class="col-md-9" align="center" >
						<h3 aria-expanded="false" style="color: black" > Complete el Formulario</h3></br>
						<form id="frmAddUser" method="POST">
							<div id="form">
								<div  style="float:left; margin-left:150px">
									<input id="nombre" 		name="nombre" 	   type="text" placeholder="Ingrese nombre" 	/>*</br></br>
										<input id="apellidoPat" name="apellidoPat" type="text" placeholder="Ingrese Apellido P" />*</br></br>
										<input id="apellidoMat" name="apellidoMat" type="text" placeholder="Ingrese Apellido M" />*</br></br>
										<select id="activo"  	name="activo" style="color:black; width:175px" aria-expanded="false">
											<option value="1" >Activo</option>
											<option value="2" >Inactivo</option>
										</select></br></br>
								</div>
								<div style="float:right; margin-right:150px">
									<input id="rut"  name="rut"  type="text" 	 placeholder="Ingrese Rut" />*</br></br>
									<input id="pass" name="pass" type="password" placeholder="Contraseñas" />* </br></br>
									<select id="cargo"  name="cargo" style="color:black; width:175px" aria-expanded="false">
										<option value="1" >Adminitrador</option>
										<option value="2" >Director</option>
									</select>
								</div>
							</div>
						</form>
						<h5 style="margin-top:200px; color:black" aria-expanded="false">Los campos con * son obligatorios</h5>
						<button id="modificarUsuarios" name="modificarUsuarios"  type="submit" class="btn btn-sm btn-info" style="float:left; margin-left:220px" >Modificar Usuario</button>
						<a href="gestion.htm"><button  class="btn btn-sm btn-info" style="float:right; width:100px; margin-right:220px" >Volver</button></a>	
					</div>
   				</div>
      		</div>
    	</div>
	</body>
</html>