<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Time Tabling</title>
	    <link href='http://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
	    <link href="webapp/views/style.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="webapp/views/js/jquery.min.js"></script>
	    <script src="webapp/views/js/bootstrap.min.js"></script>
	    <script src="webapp/views/js/spin.js"></script>
	    <script src="webapp/views/js/jquery.sparkline.min.js"></script>
	    <script src="webapp/views/js/functions.js"></script>
    </head>
  	<body>
		<div id="header" class="col-md-12 text-center">
			<i class="fa fa-cube fa-2x"></i>
			<h4>Time Tabling</h4>
		</div>
		<div class="container">
			<div class="col-md-12">
				<div class="well">
					<div id="menu" class="col-md-12">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right">
										<li class="dropdown">
											<a href="logout.htm" role="button" aria-expanded="false">Cerrar Sesion</a>
										</li>                
									</ul>
								</div>
							</div>
						</nav>        
					</div>
					<div id="sidebar" class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading"><i class="fa fa-link"></i>  Menu</div>
							<div class="panel-body panel-links">
								<a href="home.htm"><i class="fa fa-code"></i> Incio</a>
								<a href="gestion.htm"><i class="fa fa-code"></i> Gestion de Usuarios</a>
								<a href="upArchivos.htm"><i class="fa fa-code"></i> Subir Archivos</a>
								<a href="ejecutar.htm"><i class="fa fa-code"></i> Ejecutar Algoritmo</a>
								<a href="reportes.htm"><i class="fa fa-code"></i> Ver Reportes</a>
								<a href="asignaciones.htm"><i class="fa fa-code"></i> Ver Asignaciones</a>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading"><i class="fa fa-font"></i> Integrantes</div>
							<div class="panel-body panel-text">
								<ul>
									<li>Antonio Lefimil</li>
									<li>Alvaro Faba</li>
									<li>Gonzalo Cifuentes</li>
									<li>Renzo Vilchez</li>
									<li>Christopher Elgueta</li>
								</ul>
							</div>
						</div>
					</div>
					<div align="center" style="color:black" id="admincontent" class="col-md-9">
						<form  enctype="multipart/form-data" action="subirAulas.htm" method="POST">
							<h4>Seleccione Archivo Salas</h4></br>
			    		    <input class="btn btn-sm btn-info" required="required" style="float:left; margin-left:100px" name="aulas" type="file" />
			   				<input class="btn btn-sm btn-info" style="float:rigth; margin-rigth:150px" type="submit" value="SubirAulas"/>
						</form></br>
						<form enctype="multipart/form-data" action="subirCursos.htm" method="POST">
							<h4>Seleccione Archivo Cursos</h4></br>
							<input class="btn btn-sm btn-info" required="required" style="float:left; margin-left:100px;" name="cursos" type="file" />
							<input class="btn btn-sm btn-info" style="float:rigth; margin-rigth:400px;" type="submit" value="SubirCursos"/>
						</form>
						</br></br></br>
						<h6> * Recuerde que el tipo de extensión de los arhchivos debe ser .CSV</h6>
					</div>
				</div>
			</div>
   		</div>
	</body>
</html>